$ColorGranite: #313454;
$ColorModeratePurpleBlue: #3a3e64;
$ColorWhite: #ffffff;
$ColorBlack: #000000;
$ColorGrey: #808080;
$ColorPearlBlackberry: #6c7279;
$ColorDarkPurple: #53354a;
$ColorAnthraciteGray: #2d3033;
$ColorNightBlue: #2b2e4a;
$ColorGridePerlev: #c6cacc;
$ColorLavender: #e8ecee;
$ColorDeepYellowPink: #e84545;
$ColorFacebook: #4267B2;
$ColorTwitter:#1da1f2;
$ColorInstagram:#bc2a8d;